asgiref==3.7.2
astroid==2.15.6
blinker==1.6.2
certifi==2023.5.7
charset-normalizer==3.2.0
click==8.1.3
colorama==0.4.6
DateTime==5.1
dill==0.3.6
distlib==0.3.6
Django==3.2.1
filelock==3.12.2
Flask==2.3.2
Flask-SQLAlchemy==3.0.5
greenlet==2.0.2
idna==3.4
isort==5.12.0
itsdangerous==2.1.2
Jinja2==3.1.2
lazy-object-proxy==1.9.0
MarkupSafe==2.1.3
mccabe==0.7.0
nose2==0.13.0
platformdirs==3.9.1
pylint==2.17.4
pytz==2023.3
requests==2.31.0
SQLAlchemy==2.0.17
sqlparse==0.4.4
tomlkit==0.11.8
typing_extensions==4.7.1
urllib3==2.0.3
virtualenv==20.24.0
Werkzeug==2.3.6
wrapt==1.15.0
zope.interface==6.0
