{% extends 'helpcenter/base_layout.html' %} {% block content %}
<div class="create-page">
  <h1 class="text-center support-portal ticket-form">Ticket Form</h1>
  <form action="" method="POST">
    {% csrf_token %}
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Title</label>
      <textarea
        class="form-control ticket-title"
        id="exampleFormControlTextarea1"
        rows="1"
        name="title"
        required
      ></textarea>
    </div>

    <div class="form-group ticket-group">
      <label for="exampleFormControlTextarea1">Subject</label>
      <textarea
        class="form-control ticket-information"
        id="exampleFormControlTextarea1"
        rows="3"
        name="subject"
        required
      ></textarea>

      <button type="submit" class="btn btn-info submit-ticket-btn">
        Submit Ticket
      </button>
    </div>
  </form>
</div>
{% endblock %}
